#nav {
	width: 100%;
	background-color: #BF2227;
	padding: 7px;
	text-align: center;
}

#nav ul li {
	display: inline;
	padding: 0px 20px 0px 20px;
	color: #fff;
	font-family: 'Fjalla One', sans-serif;
}

#wrapper {
	margin: 0 auto;
	width: 80%;
	max-width: 1000px;
}

#logo {
	padding: 20px;
}

aside {
	width: 30%;
	float: left;
	margin-right: 30px;
}

#sidebar {
	background-color: #232D77;
	padding: 0px 20px 0px 20px;
	height: 273px;
}

#sidebar h2 {
	color: #fff;
}

#sidebar p {
	color: #fff;
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
}

.sidebar-link:link {
	color: #fff;
	text-decoration: none;
}

h2 {
	font-family: 'Cantarell', sans-serif;
	color: #0281CF;
}

main {
	padding: 20px;
}

h1 {
	font-family: 'Fjalla One', sans-serif;
}

p {
	font-family: Arial, sans-serif;
	font-size: 0.9em;
}

.button {
	text-decoration:none;
	text-align:center; 
	padding:11px 32px;
	border:3px solid #232D77;
	font-family: 'Fjalla One', sans-serif;
	font-weight:bold;
	color: #232D77;
	text-transform: uppercase;
	display: inline-block;
}

.button:hover {
	background-color: #232D77;
	color: #fff;
}

.hyper a:link {
	text-decoration: none;
	color: #E8BC1B;
	font-weight: bold;
}

.hyper a:hover {
	text-decoration: underline;
}

.hyper a:visited {
	color: #ad9231;
}

#images {
	padding: 10px;
}

.img1 {
	width: 27%;
}

.img2 {
	width: 20%;
}

.img3 {
	width: 20%;
}

footer {
	width: 100%;
	background-color: #BF2227;
	padding: 7px;
	text-align: center;
	height: 100px;
}